@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");

:root {
  --peru: #f20505;
  --black: #222;
  --white: #fff;
  --light-black: #666;
  --light-white: #ccc;
  --light-bg: #f5f5f5;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --border: 0.1rem solid #aaa;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.43, 1.1, 0.62, 1.08);
  text-transform: capitalize;
}

* > img {
  user-select: none;
  pointer-events: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--peru);
}

section {
  padding: 5rem 10%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading span {
  font-size: 2.5rem;
  color: var(--peru);
}

.heading h3 {
  font-size: 4.5rem;
  color: var(--black);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  background: var(--peru);
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem 3rem;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.fa-utensils {
  width: 25px;
  margin: auto;
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white);
  /* background: var(--white); */
  z-index: 1000;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  /* color: var(--black); */
  color: var(--black);
}

.header .logo i {
  color: var(--black);
  padding-right: 0.5rem;
}

.header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  /* color: var(--light-black); */
  color: var(--black);
}

.header .navbar a:hover {
  /* color: var(--peru); */
  color: #f20505;
}

#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

/* section home */

.home {
  padding: 0;
}

.home .slide {
  min-height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}

.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--white)),
    to(transparent)
  );
  background: linear-gradient(90deg, var(--white), transparent);
}

.home .slide .content {
  width: 50rem;
  position: relative;
}

.home .slide .content h3 {
  font-size: 6rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
}

.home .slide .content p {
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
  padding: 1rem 0;
}

.home .swiper-button-next,
.home .swiper-button-prev {
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  background: var(--white);
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
  background: var(--yellow);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 2rem;
  color: var(--black);
}

.home .swiper-button-prev {
  right: 7rem;
}

/* section beneficios */

.title-beneficios {
  text-align: center;
  padding: 1%;
  font-size: 25px;
  margin-top: 5px;
}

.sp {
  color: var(--peru);
}

.linea-beneficios {
  border-top: 1px solid var(--peru);
  width: 20%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.p-beneficios {
  text-align: center;
  padding: 1%;
  font-size: 20px;
  margin-top: 1px;
}

.img-beneficios {
  width: 70px;
  margin-bottom: 5px;
}

.cont-beneficios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  text-align: center;
  font-size: 18px;
  flex-direction: row;
  padding: 1%;
}

.item-beneficios {
  width: 30%;
  margin: 5px;
  border: 0.5px solid #a7a7a7ce;
  padding-bottom: 5%;
  padding-top: 3%;
}

.p-p-p {
  margin-bottom: 15px;
}

.subtitle-beneficios {
  margin-bottom: 5px;
  transition: 0.2s;
}

.subtitle-beneficios:hover {
  color: var(--peru);
}

/* section conocenos */

.conocenos {
  background-image: url(../images/cons.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
}

.cont-cons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  padding: 1%;
  text-align: center;
  font-size: 18px;
  color: #fff;
  margin-top: 3%;
}

.cont-cons-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 1%;
  text-align: center;
  font-size: 18px;
  color: #fff;
  /* margin-bottom: 2%; */
}

.item-cons {
  width: 33.5%;
  margin-top: 3%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.link-cons {
  display: none;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  /* margin-top: 13px; */
  border: 1px solid #fff;
  padding: 0.5em 1em;
  cursor: pointer;
  margin: auto;
}

/* section servicios */

main {
  margin-top: 100px;
  padding-bottom: 100px;
}

main h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  color: transparent;
  background-color: #b3b3b3;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.container__box {
  max-width: 1100px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 218px;
  height: 200px;
  background: #fff;
  border: 0.5px solid #a7a7a7ce;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
}

.box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.5);
  background: var(--peru);
  z-index: 1;
}

.box i {
  font-size: 60px;
  color: var(--black);
}

.box:hover i {
  color: #fff;
}

.box h5 {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
}

.box:hover h5 {
  color: #fff;
  opacity: 0;
}

.box h4 {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  position: absolute;
  bottom: 50px;
  filter: blur(5px);
  opacity: 1;
}

.box:hover h4 {
  font-size: 14px;
  opacity: 1;
  filter: blur(0px);
  color: #fff;
  transition: all 600ms ease;
}

.title-servicios {
  text-align: center;
  font-size: 20px;
}

.link-servicios {
  text-decoration: none;
  text-align: center;
  color: var(--black);
  font-size: 18px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
  width: 15%;
  padding: 0.5em 1em;
  transition: 0.2s;
}

.link-servicios:hover {
  color: #f20505;
  border: 1px solid #f20505;
}

/* section foooter */

.list-fot {
  list-style: none;
  text-decoration: none;
}

.link-footer-02 {
  text-decoration: none;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

footer {
  width: 100%;
  background: #fff;
  color: #000;
  margin-top: 5%;
}

.container-footer-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body {
  display: flex;
  justify-content: space-between;
}

.colum1 {
  max-width: 400px;
}

.colum1 h1 {
  font-size: 22px;
}

.colum1 p {
  font-size: 16px;
  color: #000;
  margin-top: 20px;
}

.colum2 {
  max-width: 400px;
  font-size: 15px;
}

.colum2 h1 {
  font-size: 22px;
}

.row {
  margin-top: 20px;
  display: flex;
}

.row img {
  width: 25px;
  height: 25px;
}

.row label {
  margin-top: 10px;
  margin-left: 20px;
  color: #000;
  transition: 0.2s;
}

.row label:hover {
  color: var(--peru);
}

.colum3 {
  max-width: 400px;
}

.colum3 h1 {
  font-size: 22px;
}

.row2 {
  margin-top: 20px;
  display: flex;
}

.row2 img {
  width: 25px;
  height: 25px;
}

.row2 label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
  font-size: 15px;
}

.container-footer {
  width: 100%;
  background: var(--peru);
  font-size: 15px;
}

.footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.copyright {
  color: var(--white);
}

.copyright a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a {
  text-decoration: none;
  color: var(--white);
}

.linea-foter {
  border-top: 1.5px solid var(--peru);
}

.sp-01 {
  color: #f20505;
  font-size: 20px;
  margin-right: 5px;
}

/* media queries  */

@media screen and (max-width: 1100px) {
  .container-body {
    flex-wrap: wrap;
  }

  .colum1 {
    max-width: 100%;
  }

  .colum2,
  .colum3 {
    margin-top: 40px;
  }
}

@media (max-width: 1200px) {
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 3rem 2rem;
  }

  html {
    font-size: 55%;
  }

  .home .slide .content h3 {
    font-size: 15vw;
  }

  .conocenos {
    background-image: url(../images/cons.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    /* background-color: var(--light-bg-); */
    border-top: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: initial;
    bottom: 1rem;
  }

  .menu .slide .box-container .box {
    flex-flow: column;
    text-align: center;
  }

  .contenedor-imagenes .imagen {
    width: 35%;
    position: relative;
    height: 300px;
    margin-bottom: 5px;
    /* box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75); */
    flex-wrap: wrap;
  }

  .link-servicios {
    text-decoration: none;
    text-align: center;
    color: var(--black);
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    width: 35%;
    padding: 0.5em 1em;
    transition: 0.2s;
  }

  .conocenos {
    background-image: url(../images/cons.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .slide .content h3 {
    font-size: 7rem;
  }

  .cont-beneficios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-direction: column;
  }

  .item-beneficios {
    width: 30%;
    margin: 5px;
    border: 0.5px solid #a7a7a7ce;
    padding-bottom: 8%;
    padding-top: 8%;
    padding-right: 2%;
    padding-left: 2%;
    width: 70%;
  }

  .conocenos {
    background-image: url(../images/cons.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;
  }

  .cont-cons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 1%;
    text-align: center;
    font-size: 18px;
    color: #fff;
    flex-direction: column;
  }

  .item-cons {
    width: 55%;
    margin-top: 3%;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .link-cons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    /* margin-top: 13px; */
    border: 1px solid #fff;
    padding: 0.5em 1em;
    cursor: pointer;
    margin: auto;
  }

  .link-servicios {
    text-decoration: none;
    text-align: center;
    color: var(--black);
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    width: 45%;
    padding: 0.5em 1em;
    transition: 0.2s;
    margin-top: -3%;
  }

  .footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .header .login-form {
    width: 90%;
  }
  .home .slide {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .home .slide .content {
    text-align: center;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}

@media (max-width: 550px) {
  .contenedor-imagenes .imagen {
    width: 75%;
    position: relative;
    height: 350px;
    margin-bottom: 5px;
    /* box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75); */
    flex-wrap: wrap;
  }
}

@media (max-width: 350px) {
  .contenedor-imagenes .imagen {
    width: 85%;
    position: relative;
    height: 300px;
    margin-bottom: 5px;
    /* box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75); */
    flex-wrap: wrap;
  }

  .item-beneficios {
    width: 30%;
    margin: 5px;
    border: 0.5px solid #a7a7a7ce;
    padding-bottom: 8%;
    padding-top: 8%;
    padding-right: 2%;
    padding-left: 2%;
    width: 85%;
  }

  .item-cons {
    width: 65%;
    margin-top: 3%;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .conocenos {
    background-image: url(../images/cons.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 775px;
  }
}

.wrapper {
  position: absolute;
  bottom: 30px;
  left: 30px;
  max-width: 365px;
  background: #fff;
  padding: 25px 25px 30px 25px;
  border-radius: 15px;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.wrapper.hide {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 0.3s ease;
}
::selection {
  color: #fff;
  background: #f20505;
}
.wrapper img {
  max-width: 90px;
}
.content header {
  font-size: 25px;
  font-weight: 600;
}
.content {
  margin-top: 10px;
}
.content p {
  color: #000;
  margin: 5px 0 20px 0;
  font-size: 14px;
}
.content .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons button {
  padding: 10px 20px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  background: #f20505;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons button:hover {
  transform: scale(0.97);
}
.buttons .item {
  margin: 0 10px;
}
.buttons a {
  color: #f20505;
  font-size: 15px;
}

